src/
venv/
airflow_pipeline/logs
airflow_pipeline/airflow-webserver.pid
airflow_pipeline/airflow.cfg
airflow_pipeline/standalone_admin_password.txt
airflow_pipeline/webserver_config.py
airflow_pipeline/airflow.db
airflow_pipeline/hook/__pycache__/twitter_hook.cpython-39.pyc
twitter_pipelene_alura/airflow_pipeline/dags/__pycache__
twitter_pipelene_alura/airflow_pipeline/operators/__pycache__